<div data-component-name="item_update">

    <div>Prop 1</div>
    <input id="field_1" data-form="item-update-form" type="text"/>

    <div>Prop 2</div>
    <input id="field_2" data-form="item-update-form" type="text"/>

    <button id="item_update_button" data-action-target="/harbor/item_update_action" data-form="item-update-form">
        Update
    </button>

</div>
