<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Axum HTML</title>
</head>
<body>
<h1>Welcome to Axum!</h1>
<p>{{message}}</p>
<script src="/harbor/static/script.js"></script>
</body>
</html>

